<ion-header>
  <ion-toolbar>
    <ion-icon (click)="close()" name="close"></ion-icon>
    <ion-title>My bubbles</ion-title>
  </ion-toolbar>
</ion-header>
<ion-list>
  <ion-spinner name="lines-small" *ngIf="loader" class="loading-spinner"></ion-spinner>
  <ion-item *ngFor="let bubble of bubbles">
    <ion-avatar slot="start">
      <img [src]="bubble.url" />
    </ion-avatar>
    <ion-label>
      <h2>{{bubble.description}}</h2>
      <h3>{{bubble.date | date: 'short'}} <ion-icon name="heart" color="danger"></ion-icon> {{bubble.likes}}</h3>
    </ion-label>
    <ion-icon (click)="presentActionSheet(bubble)" name="more"></ion-icon>
  </ion-item>
</ion-list>