<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Followers: {{followers ? followers.length : ''}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-spinner name="lines-small" *ngIf="loader" class="loading-spinner"></ion-spinner>
  <ion-list *ngIf="followers">
    <ion-item *ngFor="let follower of followers">
      <ion-avatar slot="start">
        <img [src]="follower.profileImage ? follower.profileImage : 'assets/profile-picture.jpg'" />
      </ion-avatar>
      <ion-label>
        <h2>{{follower.username}}</h2>
        <h3>{{follower.firstName}} {{follower.lastName}} </h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>